:root {
  --clr-primary-dark-blue: hsl(238, 29%, 16%);
  --clr-primary-soft-red: hsl(14, 88%, 65%);
  --clr-primary-bg-gradient-voilet: hsl(273, 75%, 66%);
  --clr-primary-bg-gradient-blue: hsl(240, 73%, 65%); 

  --clr-neutral-text-dark-blue: hsl(237, 12%, 33%);
  --clr-neutral-text-blue: hsl(240, 6%, 50%);
  --clr-neutral-divider-blue: hsl(240, 5%, 91%);

  --fs-body: 1.2rem;

  --ff-primary: 'Kumbh Sans', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --container-width: 32.5rem;
  --container-height: 53.5rem;
  
  --dropdown-container-padding: 0 2.5rem;
  --dropdown-container-height: 30rem;

  --fs-header: 3rem;
  --fs-dropdown-container: 1.25rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(var(--clr-primary-bg-gradient-voilet), var(--clr-primary-bg-gradient-blue));
  color: var(--clr-neutral-text-blue);

  font-family: var(--ff-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;

  width: var(--container-width);
  height: var(--container-height);

  padding-bottom: 3rem;
  margin-top: calc(5rem + 50vh - (var(--container-height) / 2));

  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  border: 0;
  border-radius: 2.5rem;

  filter: drop-shadow(0 3rem 1rem rgba(0 0 0 / 0.2));
}

.image-container {
  position: relative;
  height: 100%;
}
.mobile img:nth-child(1){
  position: absolute;
  top: 0;
  transform: translate(0, -60%);
}
.box {
  display: none;
  position: absolute;
  top: 42.5%;
  left: 0;
  transform: translate(-50%);
  transition: transform .5s;
}
.box.left {
  transform: translate(-65%);
}

.box img {
  filter: drop-shadow(0 1rem 2rem rgba(0 0 0 / 0.1)); 
}

.desktop {
  display: none;
  position: relative;
  width: 40rem;
  height: var(--container-height);
  overflow: hidden;
  line-height: 0;
}

.desktop img:nth-child(1){
  position: absolute;
  left: 0;
  transform: translate(-59.5%, -32%);
}

.desktop img:nth-child(2){
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-17%, -50%);
}

.content-container {
  width: min(100%, 52rem);
}

.header {
  font-size: var(--fs-header);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-dark-blue);
  text-align: center;
  padding-bottom: 2rem;
}

.dropdown-container {
  overflow-y: overlay;
  padding: var(--dropdown-container-padding);
  font-size: var(--fs-dropdown-container);

  height: var(--dropdown-container-height);
}

.dropdown {
  display: flex;
  flex-direction: column;

  border-bottom: 0.1rem solid var(--clr-neutral-divider-blue);
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0;
  padding: 1.5rem 0;
  
  background-color: transparent;
}
.title {
  color: var(--clr-neutral-text-blue);
}
@media (hover: hover) {
  .title:hover{
    color: var(--clr-primary-soft-red);
  }
}

.dropdown-button {
  padding: 0;
  margin: 0;

  
}

.content {
  display: none;
  padding-bottom: 1.5rem;
}

.open .content {
  display: block;
}
.open .title,
.open .title:hover {
  color: var(--clr-neutral-text-dark-blue);
  font-weight: var(--fw-bold);
}
.open .dropdown-button img {
  transform: rotate(180deg);
}

@media (min-width: 65rem) {
  :root {
    --container-width: 92rem;
    --container-height: 50rem;
    
    --dropdown-container-padding: 0 9.5rem;
    --dropdown-container-height: 30rem;

    --fs-header: 3.25rem;
    --fs-dropdown-container: 1.4rem;
  }

  .container {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: calc(50vh - (var(--container-height) / 2));
  }
  .header {
    padding: var(--dropdown-container-padding);
    padding-bottom: 2rem;
    text-align: start;
  }
  .desktop {
    display: block;
  }
  .box {
    display: block;
  }
  .mobile {
    display: none;
  }
}



.attribution {
  text-align: center;
  margin: auto 0 10px 0;
  color: var(--clr-neutral-text-dark-blue);
  font-size: 1.6rem;
}

.attribution a {
  text-decoration: none;
  color: var(--clr-primary-soft-red);
}